<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mama's Fresh Veggie of Admin</title>
</head>

<body>
    <section ng-include="'../../pages/content-wrapper.html'"></section>
    <!-- Main content Begin -->
    <section class="content">
        <div class="container-fluid">
            <div id="ThemSP" class="mb-5">
                <!--Thêm nhân viên-->
                <div class="row" id="ThemSP">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title font-weight-bold">Thêm sản phẩm</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form role="form" id="frmSanPham">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Tên sản phẩm</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-apple-alt"></i></span>
                                                    </div>
                                                    <input type="text" id="txtTenSP" name="txtTenSP" class="form-control" placeholder="Nhập tên của sản phẩm" required>
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Loại sản phẩm</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01"><i class="fas fa-apple-alt"></i></label>
                                                    </div>
                                                    <select class="form-control select2" id="cboLoaiSP" name="cboLoaiSP" required> 
                                                       
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nhà cung cấp</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01"><i class="fas fa-archive"></i></label>
                                                    </div>
                                                    <select class="form-control select2" id="cboNhaCungCapSP" name="cboNhaCungCapSP" required> 
                                                       
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>QR Code</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                                                    </div>
                                                    <input type="text" id="txtQRCodeSP" name="txtQRCodeSP" class="form-control" placeholder="nhập mã QR Code sản phẩm" required>
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                            <div class="form-group">
                                                <label>Bar Code</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                                                    </div>
                                                    <input type="text" id="txtBarCodeSP" name="txtBarCodeSP" class="form-control" placeholder="nhập mã Bar Code sản phẩm" required>
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.row -->
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" id="btnThemSanPham" class="btn btn-success" ng-click="btnThemSanPham()"><i class="fas fa-save"></i> Thêm sản phẩm</button>
                                <button type="submit" id="btnSuaSanPham" class="btn btn-danger" ng-click="btnSuaSanPham()"> <i class="fas fa-edit"></i> Sửa sản phẩm</button>
                                <button type="submit" id="btnNhapLaiSanPham" class="btn btn-primary" ng-click="btnNhapLaiSanPham()"><i class="fas fa-circle-notch"></i> Nhập lại</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Thống kê nhân viên-->
            <div class="row" id="BangSP">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title font-weight-bold">Danh sách sản phẩm</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                        <div class="card-body mt-1">
                            <table id="tblDanhSachSanPham" class="table table-bordered table-hover" ng-click="tablesclick();">
                                <thead>
                                    <tr>
                                        <th>Rendering engine</th>
                                        <th>Browser</th>
                                        <th>Platform(s)</th>
                                        <th>Engine version</th>
                                        <th>CSS grade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Trident</td>
                                        <td>Internet Explorer 4.0
                                        </td>
                                        <td>Win 95+</td>
                                        <td> 4</td>
                                        <td>X</td>
                                    </tr>
                                    <tr>
                                        <td>Trident</td>
                                        <td>Internet Explorer 5.0
                                        </td>
                                        <td>Win 95+</td>
                                        <td>5</td>
                                        <td>C</td>
                                    </tr>
                                    <tr>
                                        <td>Gecko</td>
                                        <td>Firefox 1.5</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td>Gecko</td>
                                        <td>Firefox 2.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td>Gecko</td>
                                        <td>Firefox 2.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td>Gecko</td>
                                        <td>Firefox 2.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td>Gecko</td>
                                        <td>Firefox 2.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td>Gecko</td>
                                        <td>Firefox 2.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td>Gecko</td>
                                        <td>Firefox 2.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Rendering engine</th>
                                        <th>Browser</th>
                                        <th>Platform(s)</th>
                                        <th>Engine version</th>
                                        <th>CSS grade</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="card-footer text-right">
                            <button id="btnLamMoiTblSanPham" class="btn btn-success text-white" ng-click="btnLamMoiTblSanPham();">
                                    <span class="spinner-border text-default spinner-border-sm"></span><br /> Làm mới
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main content End -->
</body>

</html>