<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.css">
    <style>
        .switchdemoBasicUsage .inset {
            padding-left: 25px;
            padding-top: 25px;
        }
    </style>
</head>

<body>
    <div class="inset" ng-controller="SwitchDemoCtrl" ng-cloak>
        <md-switch ng-model="data.cb1" aria-label="Switch 1">
            Switch 1: {{ data.cb1 }}
        </md-switch>

        <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">
            Switch 2 (md-warn): {{ data.cb2 }}
        </md-switch>

        <md-switch ng-disabled="true" aria-label="Disabled switch" ng-model="disabledModel">
            Switch (Disabled)
        </md-switch>

        <md-switch ng-disabled="true" aria-label="Disabled active switch" ng-model="data.cb4">
            Switch (Disabled, Active)
        </md-switch>

        <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5">
            Switch (md-primary): No Ink
        </md-switch>

        <md-switch ng-model="data.cb6" aria-label="Switch 6" ng-change="onChange(data.cb6)">
            Switch 6 message: {{ message }}
        </md-switch>

        <md-switch md-invert aria-label="Switch 7">
            Switch (Inverted)
        </md-switch>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 1.2.1 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.js"></script>
    <script>
        angular.module('switchDemo1', ['ngMaterial'])
            .controller('SwitchDemoCtrl', function($scope) {
                $scope.data = {
                    cb1: true,
                    cb4: true,
                    cb5: false
                };

                $scope.message = 'false';

                $scope.onChange = function(cbState) {
                    $scope.message = cbState;
                };
            });
    </script>
</body>

</html>